*{
   box-sizing: border-box;
   margin:0;
   padding:0; 
}

:root{
    --primary: rgba(45, 100, 230, 1);
    --secondary:rgba(0, 67, 156, 1);
    --secondary-bd:rgba(22, 28, 59, 1);
    --cta:rgba(205, 61, 15, 1);
    --darker:rgba(190, 188, 187, 1);
    --dark: rgba(0, 0, 0, 1);
    --light: rgba(255, 255, 255, 1);
}

.bg_darker{
    background-color: var(--darker);
}
.bg_secondary{
    background-color: var(--secondary);
}
.bg_secondarybd{
    background-color: var(--secondary-bd);
}
img{
    max-width: 100%;
}
.c_primary{
    color: var(--primary);
}
.bg_light{
    background-color: var(--light);
}
.bg_dark{
    background-color: var(--dark);
    
}
.bg_cta{
    background-color: var(--cta);
}
.logo{
    text-align: end;
}
.img_logo{
    width: 10%;
    padding:0.25rem;
}

.returnal{
    background-image: url(./img/jumbo-bg.png);
      background-size: cover;
}

.presentation{
    padding:0.5rem;
    width: 50%;
    color: var(--light);
    padding-top:10rem;
    
}
.console{
    margin-top: 8rem;
}

h6{
    font-size: 0.25rem;
}

.takes_two{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
}
.takes{
    padding:0.5rem;
    width: 100%;
    color: var(--light);
    padding-top:2rem;
    padding-left: 1rem;
}
.img_takes{
    width: 20%;
}

.plus{
    padding:0.5rem;
    width: 100%;
    color: var(--light);
    padding-top:2.5rem;
    padding-left: 1rem;
}

.plus img{
    width: 50%;
}
.plus_i img{
    width: 90%;
}

.tfiy{
    width: 80%;

}

.logo_footer img{
    width: 20%;
}

.country img{
    width: 1rem;
}
.end_footer{
    width: 50%;
}
.end_footer img{
    width: 15%;
}
.end_footer p{
    font-size: 0.8rem;
}

.list_footer li{
    list-style: none;
}

.list_footer a{
    text-decoration: none;
}

