*{
   box-sizing: border-box;
   margin:0;
   padding:0; 
}

:root{
    --primary: rgba(45, 100, 230, 1);
    --secondary:rgba(0, 67, 156, 1);
    --cta:rgba(205, 61, 15, 1);
    --darker:rgba(54, 54, 54, 1);
    --dark: rgba(0, 0, 0, 1);
    --light: rgba(255, 255, 255, 1);
}

.debug{
    height: 100px;
    width: 100px;

}

img{
    max-width: 100%;
}

.bg_dark{
    background-color: var(--dark);
    
}
.logo{
    text-align: end;
}
.img_logo{
    width: 10%;
    padding:0.25rem;
}

.bg_cta{
    background-color: var(--cta);
}